#language-selector {
  float: none !important;
  display: block;
  margin: auto;
}

#language-selector .btn-group {
  display: flex;
  flex-direction: row;
  margin: auto;
}

#language-selector .btn-group form:nth-child(1) .btn {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

#language-selector .btn-group form:nth-child(2) .btn {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

